.menuBar {
  background-color : #c0c0c0;
  border-color     : #f0f0f0 #808080 #808080 #f0f0f0;
  color            : #000000;
  font-size        : 1pt ;
  text-align       : left;
}
 
a.menuButton, a.menuButtonActive {
  background-color: transparent;
  border-color: #c0c0c0;
  color: #000000;
  cursor: default;
  font-family: "±¼¸²";
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  position: relative;
  text-decoration: none;
}
a.menuButton:hover {
  background-color: transparent;
  border-color: #f0f0f0 #808080 #808080 #f0f0f0;
  color: #000000;
}
 
a.menuButtonActive, a.menuButtonActive:hover {
  background-color: #909090;
  border-color: #808080 #f0f0f0 #f0f0f0 #808080;
  color: #ffffff;
  left: 1px;
  right: 1px;
}
.menu {
  background-color: #c0c0c0;
  border: 2px solid;
  border-color: #f0f0f0 #808080 #808080 #f0f0f0;
  padding: 0px;
  position: absolute;
  text-align: left;
  visibility: hidden;
}
 
a.menuItem {
  background-color: transparent;
  color: #000000;
  cursor: default;
  display: block;
  font-family: "±¼¸²";
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  padding: 2px 16px 2px 12px;
  text-decoration: none;
  white-space: nowrap;
}
 
a.menuItem:hover {
  background-color: #000080;
  color: #ffffff;
}
 
.menuItemSep {
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #808080;
  margin: 3px 4px 3px 4px;
}