.a_tbl          { border:1px solid black;margin-left:0px;table-layout:fixed} /**/

.a_tbl *        { font-size:8pt}

.a_tbl td       { height:40px;font-size:12pt}
.a_tbl td.L1    { color:#000000; font-weight:normal; padding-left:3px; }
.a_tbl td.D1    { color:#000000;background-color:red }

.a_tbl td.i1    { color:#000000;background-color:;font-weight:bold;padding-left:3px;}
.a_tbl td.i2    { color:#000000;background-color:;font-weight:bold;padding-left:3px;}
.a_tbl td.i3    { color:#000000;background-color:;font-weight:bold;padding-left:3px;}
.a_tbl td.i4    { color:#000000;background-color:;font-weight:bold;padding-left:3px;}
.a_tbl td.i5    { color:#000000;background-color:;font-weight:bold;padding-left:3px;}
.a_tbl td.i6    { color:#000000;background-color:;padding-left:3px;}

.a_tbl td.bs2{ border-bottom:2px solid black; }
.a_tbl td.bs { border-bottom:1px solid black; }
.a_tbl td.rs { border-right :1px solid black; }
.a_tbl td.ls { border-left  :1px solid black; }
.a_tbl td.ts { border-top   :1px solid black; }

.a_tbl td.ld { border-left  :1px dotted black;}
.a_tbl td.bd { border-bottom:1px dotted black;}
.a_tbl td.rd { border-right :1px dotted black;}
.a_tbl td.td { border-top   :1px dotted black;}

.a_tbl td span            { color:#000000;background-color:#FFFFFF;width:98%;height:20px;}

.content {
    margin:5px;
    padding:10px;
    font-weight:normal;
    width:569px;
    height:410px;
    word-break:break-all;
    word-wrap:break-word;
    overflow-x:hidden;overflow-y:hidden;
    border:0px solid black;
    background-color:#FFFFFF;

}
.content * {
    font-size:9pt;
    font-weight:normal;
    font-family:'굴림';
}

pre {white-space:pre-wrap;}
span.title { font-weight:bold;font-size:12pt }
