BODY {FONT-SIZE: 9pt; FONT-FAMILY: 굴림}
TD {FONT-SIZE: 9pt; FONT-FAMILY: 굴림}
SELECT {FONT-SIZE: 9pt; FONT-FAMILY: 굴림}
INPUT {FONT-SIZE: 9pt; FONT-FAMILY: 굴림}
DIV {FONT-SIZE: 9pt; FONT-FAMILY: 굴림}
FORM {FONT-SIZE: 9pt; FONT-FAMILY: 굴림}
TEXTAREA {FONT-SIZE: 9pt; FONT-FAMILY: 굴림}
CENTER {FONT-SIZE: 9pt; FONT-FAMILY: 굴림}
OPTION {FONT-SIZE: 9pt; FONT-FAMILY: 굴림}
PRE {FONT-SIZE: 9pt; FONT-FAMILY: 굴림}
BLOCKQUOTE {FONT-SIZE: 9pt; FONT-FAMILY: 굴림}

A:link    {color:555555;text-decoration:none;}
A:visited {color:555555;text-decoration:none;}
A:active  {color:555555;text-decoration:none;}
A:hover  {color:BF0909;text-decoration:underline}

.head {BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: black 1px solid; COLOR: black; BORDER-BOTTOM: black 1px solid; HEIGHT: 19px; BACKGROUND-COLOR: white}
.textarea_01 {BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: 1px solid; COLOR: 999999; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: white}
.input_01 {BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: 1px solid; COLOR: black; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: white}
.input_02 {BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: 1px solid; COLOR: black; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: E0E0E0}
.submit_01 {BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-SIZE: 9pt; BORDER-LEFT: 0px solid; COLOR: white; BORDER-BOTTOM: 0px solid; HEIGHT: 19px; BACKGROUND-COLOR: black}
.text_01 {  font-family: "굴림"; font-size: 12px; color: 555555; text-decoration: none; line-height: 18px}
.text_02 {  font-family: "굴림"; font-size: 12px; color: 555555; text-decoration: none; line-height: 22px}
.text_03 {  font-family: "tahoma"; font-size: 11px; color: 000000; text-decoration: none; line-height: 22px}