/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
}

#tbl_list
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;

	text-align: left;
	border-collapse: collapse;
}
#tbl_list th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	color: #039;
}
#tbl_list td
{
	padding: 8px 15px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	color: #669;
}

.vzebra-odd
{
	background: #eff2ff;
}
.vzebra-even
{
	background: #e8edff;
}
#tbl_list #vzebra-adventure, #tbl_list #vzebra-children
{
	background: #d0dafd;
	border-bottom: 1px solid #c8d4fd;
}
#tbl_list #vzebra-comedy, #tbl_list #vzebra-action
{
	background: #dce4ff;
	border-bottom: 1px solid #d6dfff;
}


