/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
}


#tbl_list
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;

	text-align: left;
	border-collapse: collapse;
}
#tbl_list th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#tbl_list td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#tbl_list tr:hover td
{
	background: #d0dafd;
	color: #339;
}


