/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
}

#tbl_list
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;

	text-align: left;
	border-collapse: collapse;
}
#tbl_list th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe url('/img/table-images/gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#tbl_list td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff url('/img/table-images/gradback.png') repeat-x;
}
#tbl_list tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
#tbl_list tbody tr:hover td
{
	background: #d0dafd url('/img/table-images/gradhover.png') repeat-x;
	color: #339;
}


