* { font-family:굴림,돋움;font-size:10pt; color:#000; }      
a:link { text-decoration:none; color:#444444; }      
a:visited { text-decoration:none; color:#444444;}    
a:active { text-decoration:none; color:#b09372; }    
a:hover { text-decoration:underline; color:#b09372; }