
body {
	background-color: #ffffff;
/*  background-image: none;  */
	margin: 0px;
	font-size: x-small;
}

.mainnav {
	display: none;
}
.subnav {
	display: none;
}
.footer {
	display: none;
}
.stateselect {
	display: none;
}


/* Language selector */
.langsel {
	display:none;
}

/*  reports  */

.reportcell {
	width: 100%;
	font: 1.1em/1em Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	padding: 6px 0px 6px 0px;
	margin: 0px;
}

.reportcell h4 {
	font: 1.2em Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-weight: bold;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 4px;
	padding: 4px;
/*  border-bottom: 1px solid #333333; */
}
.reportcell hr {
	color: #999999;
	background-color: #ffffff;
	height: 1px;
	width: 80%;
	margin: 14px 0px 14px 0px;
}
.reportcell ul {
	margin-top: 6px;
}
.reportbody th {
	font: 1em/1.6em Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	text-transform: uppercase;
	padding: 2px 10px 2px 2px;
	border-bottom: 1px solid #333333;
}
.reportbody td {
	font: 1em/1.6em Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding: 2px 10px 2px 2px;
}
.reportbodynop th {
	font: 1em/1.6em Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0px;
	border-bottom: 1px solid #333333;
}
.reportbodynop td {
	font: 1em/1.6em Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding: 0px;
}
.reportbodyline th {
	font: bold 1em/1.6em Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	vertical-align: top;
	text-transform: uppercase;
	padding: 2px 10px 2px 2px;
	border-bottom: 1px solid #333333;
}
.reportbodyline strong {
	font: bold 1em/1.6em Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	vertical-align: top;
	text-transform: uppercase;
	padding: 2px 10px 2px 2px;
}
.reportbodyline td {
	font: 1em/1.6em Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	text-align: left;
	vertical-align: top;
	padding: 2px 10px 2px 2px;
	border-bottom: 1px solid #cccccc;
}
.reportbodylinenop th {
	font: 1em/1.6em Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	vertical-align: top;
	text-transform: uppercase;
	padding: 0px;
	border-bottom: 1px solid #333333;
}
.reportbodylinenop td {
	font: 1em/1.6em Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	text-align: left;
	vertical-align: top;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
}


.tablelabel {
	margin-bottom: 0px;
	margin-top: 15px;
}
.tablelabel th {
	width: 70%;
	font: bold 1em Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-transform: uppercase;
	background-color: #e3e3e3;
	border-bottom: 1px solid #333333;
	padding: 4px;
	text-align: left;
}
.tablelabel td {
	width: 30%;
	font: bold 1em Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border-bottom: 1px solid #333333;
	padding: 2px;
	text-align: right;
}


/*  altered reports elements */

.reportcell .reportformfill {
	border-bottom: 1px dotted #cccccc;
}
.reportcell h3 {
	font: 0.8em TKTypeRegular, Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	background-color: #cccccc;
	font-weight: bold;
	text-align: left;
	margin-top: 6px;
	margin-bottom: 4px;
	padding: 4px;
	border: 1pt solid #333333;
}
.reportheadcell {
	width: 100%;
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
.reportheadcell td {
	font: 1em/1.6em Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	padding: 3px;
	background-color: #ffffff;
	background-image: none;
}
.reportheadcell h2 {
	font: 2em TKTypeRegular, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #ffffff;
	margin: 0px;
}
.reportheadcell h3 {
	font: 1.4em "TKTypeRegular Bold", Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	text-align: left;
	margin: 0px;
}
.reportcell div.break {
	text-align: left;
	page-break-before: always;
	display: block;
	height: 60px;
	border-bottom: 1px solid #000000;
	margin-bottom: 12px;
}

div.projectbankimage {
	border: 1px solid #888888;
	background-color : #ffffff;
	-moz-border-radius: 10px;
}

div.projectbankimage_current {
	border: 1px solid #000000;
	background-color : #aaaaaa;
	color: #000000;
	font-weight: bold;
	-moz-border-radius: 10px;
}

.noprint {
	display: none;
}

