A:link    {color:555555;text-decoration:none;}
A:visited {color:555555;text-decoration:none;}
A:active  {color:555555;text-decoration:none;}
A:hover  {color:6F9822;text-decoration:none}

.textarea_01 {  font-family: "±¼¸²"; font-size: 12px; color: 000000; background-color:#F4F4F4;border:solid 1 #BFBFBF;}
.listbox_01 {BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-SIZE: 9pt; BORDER-LEFT: 0px solid; COLOR: 333333; BORDER-BOTTOM: 0px solid; HEIGHT: 19px; BACKGROUND-COLOR: F4F4F4}
.submit_01 {BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-SIZE: 9pt; BORDER-LEFT: 0px solid; COLOR: white; BORDER-BOTTOM: 0px solid; HEIGHT: 19px; BACKGROUND-COLOR: black}
.text_01 {  font-family: "±¼¸²"; font-size: 12px; color: 555555; text-decoration: none; line-height: 18px}
.text_02 {  font-family: "µ¸¿ò"; font-size: 12px; color: 555555; text-decoration: none; line-height: 18px}
.text_03 {  font-family: "tahoma"; font-size: 11px; color: 555555; text-decoration: none; line-height: 18px}
.text_04 {font-family:tahoma;color:444444;font-size:8pt}